@keyframes color-change
{
    from {background-color: white;}
    to {background-color: turquoise;}
}

@keyframes block-move
{
    from {margin-left: 5%;}
    to {margin-left: 95%;}
}

.barre
{
    background-color: black;
}

.square
{
    width: 30px;
    height: 30px;
    background-image: linear-gradient(to right,black,red,black);
    margin-bottom: 5px;
    animation-name: block-move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

body
{
    background-image: linear-gradient(to right,grey,white,grey);
    text-align: center;
    display: block;
}

#bar
{
    box-sizing: border-box;
    border: 5px solid teal;
    background-image: linear-gradient(to right,teal,white,teal);
    margin-bottom: 10px;
    /*
    animation-name: exemple;
    animation-duration: 4s;
    animation-iteration-count: infinite;*/
}

#booker
{
    box-sizing: border-box;
    border: 5px solid orange;
    background-image: linear-gradient(to right,orange,white,orange);
    margin-bottom: 10px;
}

input
{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    text-align: center;
}

#actors
{
    box-sizing: border-box;
    border: 5px solid greenyellow;
    background-image: linear-gradient(to right,green,white,green);
    margin-top: 5px;
    margin-bottom: 5px;
}

button
{
    width: 100%;
    height: 3em;
    animation-name: color-change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

h2
{
    background-color: rgb(221, 219, 219);
    margin-top: 0px;
    width: 100%;
}